@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --ensolarado: linear-gradient(0deg, rgba(236,197,46,1) 0%, rgba(230,150,66,1) 80%);
    --chuva: linear-gradient(0deg, rgba(92,166,207,1) 0%, rgba(0,33,80,1) 100%);
    --nublado: linear-gradient(0deg, rgba(141,197,229,1) 0%, rgba(46,102,126,1) 80%);
    --chuvisco: linear-gradient(0deg, rgba(100,202,255,1) 0%, rgba(0,72,125,1) 100%);
    --tempestade: linear-gradient(0deg, rgba(2,80,131,1) 0%, rgba(0,22,35,1) 80%);
    --neve: linear-gradient(0deg, rgba(92,224,255,1) 0%, rgba(23,113,134,1) 80%);
    --nevoeiro: linear-gradient(0deg, rgba(112,112,112,1) 0%, rgba(153,153,153,1) 33%, rgba(87,87,87,1) 66%, rgba(153,153,153,1) 100%);
}


body {
    font-family: 'Poppins', sans-serif;
    /* background: var(--ensolarado); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#title {
    display: flex;
    flex-direction: column;
    /* word-break: break-word; */
    margin-bottom: 20px;
}
#title div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
#logo {
    width: 40px;
    margin-bottom: 5px;
}
.container {
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    width: 100%;
}

.project-name {
    font-size: 36px;
    color: #ffffff;
    line-height: 35px;
}

#c-infos {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.c-tempo {
    background: var(--ensolarado);
    border-radius: 10px ;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
#previsao {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c-telhado {
    background: var(--ensolarado);
    border-radius: 10px ;
    padding: 12px;
    width: 100%;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.c-telhado img {
    max-width: 365px;
    width: 100%;
}

h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
}
p {
    font-size: 18px;
    color: #ffffff;
}
#temperatura {
    font-size: 48px;
}

.logoutButton {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.6);
}

.logoutButton:hover {
    background-color: #E64A19;
}

@media screen and (max-width: 500px) {
    body {
        padding: 15px;
        height: 100%;
    }
    .project-name {
        font-size: 28px;
    }
    #c-infos {
        flex-direction: column;
    }
    h2 {
        font-size: 20px;
    }
}